body {
    background-color: whitesmoke;
}


.img {

}
h2 {
    text-align: center;
    color: whitesmoke;
    border: solid orangered;
    background-color: orangered;
    margin: .05em;
    padding: .05em;
    
}    
 
    
.parksContainer {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
}