body {
    background-color: #CAD6A5;
}

header {
    background: #e9cd6d;
    border: 2px;
    border-style: solid;
    border-color: black;
    color: black;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.logo {
    height: 90px;
    margin-right: 10em;
    margin-top: 1.2em;
    width: 75px;
}

.welcome {
    font-size: 40pt;
}

.dropdown {
    border-radius: 7px;
    display: flex;
    flex-flow: row;
    height: 3em;
    justify-content: space-around;
    margin-top: 1em;  
    min-width: 25em;
}

.weather {
    width: 40em;
}

.display {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    margin-top: 2em;
}

.AttractionPreview {
    color: white;    
}

.EateryPreview {
    color: white;
}

.ParkPreview {
    color: white;
}

.Itinerary-Display {
    background-color: #645049;
    border: 2px;
    border-color: black;
    border-style: solid;
    height: 45em;
    margin-left: 5em;
    width: 73em;
}

.aside {
    background-color: #645049;
    border: 2px;
    border-color: black;
    border-style: solid;
    height: 45em;
    margin-left: 3em;
    width: 32em;
}

.buttons {
    margin-top: 2em;
}

.Save-Itinerary {
    border-radius: 7px;
    font-size: 12pt;
    height: 3em;
    margin-left: 5em;
    width: 15em;
}

footer {
    color: white;
    display: flex;
    font-size: 18pt;
    justify-content: center;
    margin-top: 1px;
}