body {
    background-color: #786141;
}

header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    border: 2px;
    border-style: solid;
    border-color: black;
    background: rgb(126,153,71);
    color: white;
}

.logo {
    width: 75px;
    height: 90px;
    margin-right: 10em;
    margin-top: 1.2em;
}

.welcome {
    font-size: 40pt;
}

.dropdown {
    display: flex;
    flex-flow: row;
    Justify-Content: space-around;
    margin-top: 1em;
    border-radius: 20px;
    height: 3em;
    min-width: 25em;
}

.display {
    display: flex;
    flex-flow: row;
    Justify-Content: flex-start;
    margin-top: 2em;
}

.AttractionPreview {
    text-align: center;
    color: white;
}

.EateryPreview {
    text-align: center;
    color: white;
}

.ParkPreview {
    text-align: center;
    color: white;
}

.Itinerary-Display {
    background-color: blue;
    border: 2px;
    border-style: solid;
    border-color: black;
    width: 73em;
    height: 45em;
    margin-left: 5em;
    
}

.aside {
    background-color: yellow;
    border: 2px;
    border-style: solid;
    border-color: black;
    width: 32em;
    height: 45em;
    margin-left: 3em;
}

.buttons {
    margin-top: 2em;
}

.Save-Itinerary {
    height: 3em;
    width: 15em;
    margin-left: 5em;
    font-size: 12pt;
    border-radius: 10em;
}
footer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-size: 18pt;
    color: white;
}